*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  color: #444;
  /* font-family: 'montserrat', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  font-size: 1.4em;
  line-height: 1.5;
}

body {
  background: url("/images/bg-pattern.png");
}

.fl--rt {
  float: right;
}

.fl--lt {
  float: left;
}

.ta-c,
.text--center {
  text-align: center;
}

.caps {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.grid__item {
  float: left;
}

.one-half {
  width: 50%;
}

.one-third {
  width: 33.33%;
}

.green {
  color: #7ba525;
}

a {
  color: #a76a23;
}

a:hover {
  text-decoration: underline;
  color: #f47322;
}

.post-content {
  color: #494949;
}

.btn {
  background: none;
  border: 2px solid;
  border-radius: 4px;
  padding: 5px 20px;
  cursor: pointer;
  text-decoration: none;
}

.btn--white {
  border-color: white;
  background: linear-gradient(0deg, white, #bbb);
  color: #333;
}

.btn--white:hover {
  background: white;
}
.btn--black {
  border-color: black;
  background: linear-gradient(0deg, black, #555);
  color: #fff;
}
.btn--black:hover {
  background: black;
}
.btn--big {
  font-size: 2em;
  padding: 10px 40px;
}

.row {
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .row {
    margin: 0;
  }
}

.outer-wrap {
  min-height: calc(100vh - 112px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  transition: 0.25s ease 0.1s;
}

.main-header {
  margin-bottom: 32px;
  padding: 32px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header a {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 14px;
  }

  .main-header {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 10px;
    flex-direction: column;
  }

  .main-header > a {
    width: 300px !important;
    height: 130px !important;
  }

  .home-content {
    width: auto !important;
    margin-left: 0px !important;
  }

  .hero {
    padding: 20px 0 !important;
  }

  .hero__content {
    position: relative !important;
  }

  .btn--big {
    font-size: 1em;
  }
}

.content-wrap {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

footer {
  padding: 32px;
  margin-top: 64px;
  color: #5f5f5f;
  text-align: center;
}

.header-logo {
  border-radius: 50%;
  width: 68px;
  border: 0;
  padding: 0;
  margin-right: 3px;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

.main-title {
  font-size: 60px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.post-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.post-content {
  line-height: 1.6em;
}

.page-nav__link {
  margin-left: 25px;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 530px) {
  .page-nav {
    float: none;
    top: 26px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .page-nav__link {
    margin: 5px 10px;
    text-align: center;
    border: 2px solid #f16652;
    border-radius: 4px;
    padding: 9px 10px;
  }
}

.post-meta {
  opacity: 0.8;
}

.list-item {
  margin-bottom: 3em;
}

img {
  max-width: 100%;
}

.post-content img {
  padding: 15px;
  border: 1px solid #eee;
}

.post-content li {
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .outer-wrap {
    width: auto;
    padding: 20px;
  }
}

.img-container {
  width: 100%;
  max-width: 700px;
  margin: 2em auto;
}

.cols--3 {
  -moz-column-count: 3;
  -moz-column-gap: 3%;
  -moz-column-width: 30%;
  -webkit-column-count: 3;
  -webkit-column-gap: 3%;
  -webkit-column-width: 30%;
  column-count: 3;
  column-gap: 3%;
  column-width: 30%;
}

.cols--2 {
  -moz-column-count: 2;
  -moz-column-gap: 3%;
  -moz-column-width: 40%;
  -webkit-column-count: 2;
  -webkit-column-gap: 3%;
  -webkit-column-width: 40%;
  column-count: 2;
  column-gap: 3%;
  column-width: 40%;
}

.img-container__img {
  margin-bottom: 20px;
}

.summary-tile {
  width: 20vw;
  width: 370px;
  padding: 0;
  margin: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
}

.summary-tile__img {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: 0.4s ease;
}

.summary-tile__title {
  padding: 20px;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .summary-tile {
    width: 100%;
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 960px) {
  .tile-container {
    flex-direction: column;
    align-items: center;
  }
}

.hero {
  padding: 240px 0 190px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 4em;
}

.hero:before {
  content: "";
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 3em;
  top: 0;
  line-height: 10em;
  /* background: rgba(177, 255, 61, 0.5); */
  background: rgba(229, 154, 19, 0.5);
  background: rgba(0, 164, 255, 0.5);
  background: rgba(108, 153, 27, 0.7);
}

.hero__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  color: white;
}

.hero__content h1 {
  margin-top: 0;
  font-size: 3em;
}

.testimonial {
  margin-bottom: 2em;
}

.testimonial__body {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  border-left: 1em solid rgba(154, 205, 50, 0.6);
  padding: 2em;
  position: relative;
}

.testimonial--with-quote .testimonial__body:before {
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  font-family: "montserrat", sans-serif;
  content: "\201C";
  font-size: 9em;
  position: relative;
  opacity: 0.3;
  top: 46px;
  z-index: 0;
  vertical-align: text-bottom;
  left: 0;
  display: inline-block;
}

.testimonial__body:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  z-index: 0;
  right: 50px;
  border: 20px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.03);
}

.testimonial__body p:first-child {
  display: inline;
}

.testimonial__body p {
  margin: 0;
}

.testimonial__body p + p {
  margin-top: 1em;
}

.testimonial__by {
  margin-top: 0.8em;
  text-align: right;
  font-style: italic;
}

.gumroad-button {
  visibility: hidden !important;
  height: 1px;
}

@media screen and (max-width: 530px) {
  .testimonial__body {
    border-radius: 5px;
    border-left-width: 7px;
    padding: 1em;
  }

  .testimonial__body:before {
    font-size: 6em;
    top: 36px;
  }
}
