<header class="main-header row">
  <a href="/" style="color: inherit; font-size: 1.6em;"
    ><img
      class="header-logo"
      src="{{metadata.imagePrefix}}/logo.png"
      alt=""
    />Prakriti</a
  >

  <div class="page-nav">
    <a class="page-nav__link" href="/">Home</a>
    <a class="page-nav__link" href="/products">Products</a>
    <a class="page-nav__link" href="/testimonials">Testimonials</a>
    <a class="page-nav__link" href="/gallery">Gallery</a>
    <a class="page-nav__link" href="/blog">Blog</a>
  </div>
</header>
