---
layout: base
---

<div class="post">
  {% set product = products[product_key] %}

  <style>
    .stack > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    .stack > :last-child {
      margin-bottom: 0;
    }
    .product-summary {
      padding: 2rem 5rem 2rem 2rem;
      margin-left: 2rem;
      background-color: white;
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      clip-path: polygon(0px 0, 100% 0, calc(100% - 90px) 114%, 0 100%);
    }
    .product-title {
      font-size: 7vw;
      line-height: 7vw;
      letter-spacing: -6px;
      margin: 1rem 0 1rem;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    .product-image {
      max-width: 250px;
    }
    .product-price {
      font-size: 3vw;
      margin: 0 0 1rem;
      color: coral;
    }
    .btn--buy-now {
      font-size: 2em;
      border-radius: 13px;
      border-color: #266e24;
      color: white;
      background: #26af23
        linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          transparent 90%,
          rgba(255, 255, 255, 0.6)
        );
    }
    .product-desc {
      margin: 2rem auto;
      max-width: 70ch;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  </style>
  <div style="display: flex; justify-content:center; padding: 2rem;">
    <div>
      <img class="product-image" src="{{ product.image }}" />
    </div>

    <div class="product-summary stack">
      <h1 class="product-title">{{ product.label }}</h1>
      <p class="product-price">{{ product.price }}</p>
      <div>
        <a class="btn btn--buy-now" href="tel:9990551429">Buy Now</a>
      </div>
    </div>
  </div>

  <div class="product-desc">
    {{ content | safe }}
  </div>
</div>
