---
layout: base
---

<div class="post">
  {% set product = products[product_key] %}

  <div style="text-align:center; margin:1rem 0;">
    <a href="/products">Products</a> / {{ product.label }}
  </div>

  <div class="product-header">
    <div>
      <img class="product-image" src="{{ product.image }}" />
    </div>

    <div class="product-summary stack">
      <h1 class="product-title">{{ product.label }}</h1>
      <p class="product-price">{{ product.price }}</p>
      <div>
        Order now on
        <a class="btn btn--buy-now" href="tel:9990551429">
          Whatsapp: 9990551429</a
        >
        or
        <a class="btn btn--buy-now" href="tel:9990551429"> Call: 8700907337</a>
      </div>
    </div>
  </div>

  <div class="product-desc">
    {{ content | safe }}
  </div>

  <div style="text-align:center; margin:1rem 0;">
    <a href="/products">See more products</a>
  </div>

</div>
